<%= render "head"%>
<div class="main">

    <div class="headings">
        <p><%=Article.public_count%> articles so far</p>
        <div class="addButton">
            <%= link_to "New Article", new_article_path%>
        </div>
    </div>


    <div class="content">
        

        <% @articles.each do |article| %>
            <% unless article.archived?%>
                <div class="grid-box" href="<%=article_path(article)%>">
                    <!-- <a href="<%=article_path(article)%>"> <%=article.title%> </a> -->
                    <%= link_to article.title, article,class:"grid-item"%>
                </div>
            <%end%>
        <%end%>
    </div>
</div>
    
    
